body {
    background-color: #456990;
}

/* Colors */
.reveal .metallicSeaweed {
    color: #028090 !important;
}

.reveal .nyanza {
    color: #E4FDE1 !important;
}

.reveal .fieryRose {
    color: #F45B69 !important;
}

/* Horizontal Rule */
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #456990, white, #456990);
  background-image: -moz-linear-gradient(left, #456990, white, #456990);
  background-image: -ms-linear-gradient(left, #456990, white, #456990);
  background-image: -o-linear-gradient(left, #456990, white, #456990); 
}

/* Progress Bar */
.reveal .progress span {
    background-color: #E4FDE1;
}

/* Code */
.reveal pre, .reveal code {
    background-color: #1f1f1f;
}

.reveal mark {
    background-color: #F45B69;
}

/* Footnotes */
.reveal .footnote {
  font-size: 0.5em;
  margin-top: 4em;
}